$yellow-link: #fce38a;
$main-gradient: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
$black: #333333;
$grey: #999999;
$blue: #95e1d3;
$sub-gradient: linear-gradient(to top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%);
$light-grey: #f8f8f8;
$red: #f38181;
$middle-grey: #e5e5e5;
$fade-grey: #cccccc;